<!DOCTYPE html>
<html>
<head>
    <title>Home - Payatas Football Program</title>
</head>
<body>
    <h1>Welcome to the Football Tracker</h1>
    <a href="{% url 'add_player' %}">Add a New Player</a>
    <a href="/players/">View Player List</a>
    <ul>
    <ul></ul>
    <li><a href="{% url 'player_list' %}">👤 View Players</a></li>
    <li><a href="{% url 'equipment_list' %}">🎒 Equipment Tracker</a></li>
    <ul>
        <li><a href="{% url 'add_equipment' %}">➕ Add Equipment</a></li>
        <li><a href="{% url 'equipment_list' %}">📦 View Equipment</a></li>
    </ul>
    <li><a href="{% url 'event_list' %}">📅 Event Calendar</a></li>
    <ul>
        <li><a href="{% url 'add_event' %}">➕ Add Event</a></li>
        <li><a href="{% url 'event_list' %}">📅 View Events</a></li>
    </ul>
    <li><a href="{% url 'injury_list' %}">💢 Injury Records</a></li>
    <ul>
        <li><a href="{% url 'add_injury' %}">➕ Add Injury</a></li>
        <li><a href="{% url 'injury_list' %}">📋 View Injuries</a></li>
    </ul>
    <li><a href="{% url 'academic_list' %}">📘 Academic Tracker</a></li>
    <li><a href="{% url 'player_list' %}">Manage Players</a></li>
</ul>

</body>
</html>


